@{
    ViewData["Title"] = "Details Page";
}

<div>
    <h1>Cognizant Employee Details</h1>
    <h3>Name : @ViewData["Name"]</h3>
    <h3>Salary : @ViewData["Salary"]</h3>
    <h3>Department : @ViewData["Department"]</h3>

</div>