

<html>
<head>
    <title>Index</title>
</head>
<body>
    <h1>Welcome to Student Details</h1>

    @{string name = (String)ViewData["Name"];}

    <h3>Student Name : @name</h3>
    <h3>Student Education : @ViewBag.Education</h3>


</body>
</html>