@model HandsOnMVCAssignment.Models.Student

<html>
<head>
    <title>Index</title>
</head>
<body>
    <h1>Welcome to Student Details</h1>

    <h2>Name : @Model.Name</h2>
    <h2>Age : @Model.Age</h2>
    <h2>Email : @Model.Email</h2>

</body>
</html>